@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body { height: 100%; width: 100vh; } */

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn {
  background-color: #e0f154;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.skip {
  background-color: #a4a4a4;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.form-wrapper {
  border: 1px solid #d0d0d0;
  background-color: #f9f9f9;
  padding: 30px;
  /* width: 70%; */
}

@media only screen and (max-width: 600px) {
  .app-components-wrapper {
    width: 80%;
  }

  .btns-wrapper {
    justify-content: center;
  }
}
